  <!DOCTYPE html>
  <html>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"></link>

    <head>
      <title>{{{title}}}</title>
    </head>
    <body>
      <div id="app">{{{body}}}</div>
      <script src="/app.js"></script>
    </body>
  </html>
